html,
body {
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgba(187, 250, 250, 0.363);
  padding: 1rem;
  .paper {
    height: calc(100vh - 40px - 2rem);
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .banner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
    }
  }


  .sightsBox {
    display: flex;
    flex-wrap: wrap;

      .sight {
        background-color: rgba(186, 187, 187, 0.479);
        box-shadow: 10px 10px 5px grey;
        max-width: 20%;
        max-height: 350px;
        overflow: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        margin: 1rem;

        img {
            object-fit: cover;
            max-height: 40%;
        }
      }
  }
}
