html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.headline {
  color: white;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  h2 {
    font-weight: 200;
    font-size: 2rem;
    letter-spacing: 1px;
  }
}

.main {
  background-color: rgba(90, 90, 90, 0.671);
  padding: 1rem;
  .paper {
    height: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.39);
    display: flex;
    flex-direction: column;
    align-items: center;

    .banner {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
      position: relative;
    }

    .optionBox {
      align-self: flex-end;
      padding-right: 2rem;
    }
  }

  .sightsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .sight {
      background-color: white;
      box-shadow: 5px 5px 3px grey;
      max-width: 20%;
      max-height: 350px;
      overflow: auto;
      scroll-behavior: smooth;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      margin: 1rem;
      border-radius: 10px;
      align-items: center;

      img {
        object-fit: cover;
        max-height: 40%;
        border-radius: 5px;
      }

      h3 {
        font-weight: 300;
        padding: 5px 0px;
      }

      p {
        font-weight: 300;
        font-size: small;
      }

      input {
        padding: 15px 32px;
        text-align: center;
        font-size: small;
        margin-top: 1rem;
        border: none;
        box-shadow: 2px 2px 3px grey;
        border-radius: 5px;
        cursor: pointer;
      }

      input:hover {
        background-color: rgb(182, 182, 182);
      }
    }

    .sight::-webkit-scrollbar {
      width: 20px;
    }

    .sight::-webkit-scrollbar-track {
      background-color: transparent;
    }

    .sight::-webkit-scrollbar-thumb {
      background-color: #c2c2c2;
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }

    .sight::-webkit-scrollbar-thumb:hover {
      background-color: #a5a5a5;
    }
  }
}
