.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  height: 80px;
  background-color: rgba(66, 65, 63, 0.774);
  i {
    color: white;
    font-size: 3rem;
    margin-left: 1rem;
    margin-right: auto;
    &:hover {
      cursor: pointer;
    }
  }
  p {
    color: white;
    margin-right: 1rem;
    text-shadow: 0px 0px black, 1px 1px 4px rgba(0, 0, 0, 0.7);
  }
  p:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
