html,
body {
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgba(66, 65, 63, 0.774);
  padding: 1rem;
  .paper {
    min-height: calc(100vh - 40px - 2rem);
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .banner {
      
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
      position: relative;

      .cityDesc {
        display: flex;
      flex-direction: column;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.123);
    border-radius: 4px;

        background-color: white;
        margin: 20px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        width: 70%;

        img{
          margin-bottom: 20px;
        }
        p {
          margin-left: 60px;
        }
      }

      .cityInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 50%;
      }
    }

    .additionalInfoBanner {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(236, 236, 236);
      width: 70%;
      justify-content: space-around;
      text-align: center;
      padding: 1rem 0;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.15);

      .infoBoxes {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      }

      h2 {
        margin-bottom: 1rem;
      }

      h3 {
        margin: 0.5rem 0;
      }

      .moreInfoDiv {
        max-width: 200px;

        &:hover {
          cursor: pointer;
        }
      }

      .sightsInfo {
        display: flex;
        flex-direction: column;
        max-width: 200px;
      }

      .currencyInfo {
        max-width: 200px;

        &:hover {
          cursor: pointer;
        }
      }

      .flightsInfo {
        display: flex;
        flex-direction: column;
        max-width: 200px;
      }
    }
  }
}
