@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700&display=swap");

// Variables
$boxShadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.281);
$headingColor: rgb(83, 114, 253);
$textColor: rgb(68, 68, 68);
$inputFiledColor: rgba(255, 255, 255, 0.863);

* {
  margin: 0;
  padding: 0;
}

.poster {
  display: flex;
  width: 100%;
  justify-content: center;
  background-image: url("https://www.gannett-cdn.com/presto/2019/03/28/USAT/dc4a16bd-c6d5-49b2-97be-2d693d714f85-GettyImages-887546562.jpg");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 70px;
  padding-bottom: 30px;

  h2,
  h3 {
    text-align: center;
  }
}

.formContainer {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(61, 60, 60, 0.918);
  width: 800px;
  height: auto;
  box-shadow: $boxShadow;
  margin-bottom: 3rem;
  margin-top: 5rem;
  padding-bottom: 2rem;

  .dates {
    display: flex;

    .departureDate,
    .arrivalDate {
      padding: 10px;
      display: flex;
      flex-direction: column;
      width: 100%;

      label {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 5px;
        color: white;
      }

      input {
        display: inline-block;
        width: 100%;
        height: 2.25rem;
        padding: 0.375rem 0.75rem;
        border: solid 0.0625rem #b2b2bf;
        border-radius: 0.25rem;
        background: $inputFiledColor;
        color: #111236;
        appearance: none;
        box-sizing: border-box;
        margin-bottom: 0.25rem;
        height: 2.25rem !important;
        width: 100% !important;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.destinations {
  display: flex;

  .from,
  .to {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      margin-bottom: 5px;
      color: white
    }

    select {
      display: inline-block;
      width: 100%;
      height: 2.25rem;
      padding: 0.375rem 0.75rem;
      border: solid 0.0625rem #b2b2bf;
      border-radius: 0.25rem;
      background: $inputFiledColor;
      color: #111236;
      appearance: none;
      box-sizing: border-box;
      margin-bottom: 0.25rem;
      height: 2.25rem !important;
      width: 100% !important;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.btnContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;

  .submit {
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0.375rem 1.125rem;
    background-image: linear-gradient(-180deg, #00a698 0%, #00a698 100%);
    border-radius: 8px;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
  }
}

.widgetContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  h2 {
    margin-top: 40px;
    padding-bottom: 15px;
    font-size: 55px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    margin-bottom: 0;
    color: $headingColor;
  }

  h3 {
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 30px;
    color: $textColor;
  }

  
}

.reset {
  padding: 10px; 
  width: fit-content;
  border-radius: 5px;
  color: white;
  background-color: rgb(255, 74, 74);
}