html,
body {
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgba(187, 250, 250, 0.363);
  padding: 1rem;
  .paper {
    height: calc(100vh - 40px - 2rem);
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .banner {
      display: flex;
      margin: 3rem 0;
      img {
        margin-right: 4rem;
      }
    }
  }
}