html,
body {
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgba(187, 250, 250, 0.363);
  padding: 1rem;
  .paper {
    height: calc(150vh - 40px - 2rem);
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 11px 11px 15px -9px rgba(0,0,0,0.7); 
box-shadow: 11px 11px 15px -9px rgba(0,0,0,0.7);
border-radius: 5px 5px 5px 5px;

.otherCities{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .otherCitiesHeader{
    text-align: center;
    width: 50%;

  }

  .otherCitiesThumbContainer{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
  .otherCitiesThumb{
    display: flex;
    flex-direction: column;
   align-items: center;
    font-size: 0.8rem;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #c0bdbd;

    img{
      margin-top: 10px;
    }

  }}

}

.featuredCity {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  justify-content: space-around;
  width: 70%;

  .featuredCityTextbox {
    max-width: 40%;
  }
}

    .banner {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin:0;
      background-image: url(./city2.jpg);
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 300px;
      border-radius: 5px 5px 0 0;


h1{
  text-align: center;
}

p {
  text-align: center;
}


      input {
        width: 700px;
        height: 50px;
        border: solid rgb(255, 255, 255) 2px;
        box-shadow: 5px 5px 5px -5px #000000;
border-radius: 5px;
        
      }

      input::placeholder {
        font-size: 1.5rem;
        text-align: center;
      }
      
    }
  }
}
